/* 웹폰트선언 */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');

/* font-family: 'Nanum Gothic', sans-serif; */
*{margin: 0; padding:0;}

/* 공통 */
/* body에 서체 나눔고딕지정 */

body{
  font-family: 'Nanum Gothic', sans-serif; 
  font-size: 0.938em;
  line-height: 1.2;
  color:#333;
  -webkit-text-size-adjust: none;
}


header{
  width:auto;
  height:100px;
  padding:2rem;
  background-color: #ccc;

}

h1{
  max-width:1400px;
  width:90%;
  margin:0 auto;
  background-color: red;
}

.page-title{
  font-family: 'Dancing Script', cursive;
  font-weight: bolder;
  width:90%;
  max-width: 1400px;
  margin:0 auto;
  background-color: rgb(175, 243, 195);
}

section{
  background-color: rgb(185, 183, 183);
  margin-top: 50px;
  /* min-height: 100px; */
  height: 100px;
  width: 50vw;
  margin:50px auto;
}

#section1{overflow: auto;}

#section2{overflow: hidden;}

#section3{overflow: auto;}